<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>편메추</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .commentbox {
        border: 1px solid black;
        width: 1150px;
        margin: 30px auto;
        padding: 30px;
      }

      .profiletop {
        justify-content: space-between;
        display: flex;
        width: 100%;
      }

      .topbox {
        border: 1px solid black;
        width: 1150px;
        margin: 30px auto;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
      }

      .photobox {
        border: 1px solid black;
        width: 300px;
        height: 400px;
        margin: 30px auto;
        padding: 30px;
      }

      .content {
        border: 1px solid black;
        width: 700px;
        height: 400px;
        margin: 30px auto;
        padding: 30px;
      }

      .buttondiv {
        margin-left: auto;
      }
    </style>
  </head>

  <body>
    <div class="topbox">
      <div class="profiletop">
        <div class="pageinfo">프로필 페이지</div>
        <button>메인으로</button>
      </div>
      <div class="photobox">사진</div>
      <div class="content">content</div>
      <bR />
      <div class="buttondiv">
        <button>수정</button>
        <button>삭제</button>
      </div>
    </div>

    <div class="commentbox">
      <h5 class="comment-nickname">작성자 닉네임</h5>
      <p class="comment-text">댓글 내용</p>
    </div>

    </div>
    <div class="commentbox">
      <h5 class="comment-nickname">작성자 닉네임</h5>
      <p class="comment-text">댓글 내용</p>
    </div>

    </div>
  </body>
</html>
